{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-users"></i>
        <span class="count-numbers"></span>
        <span class="count-name">Patients</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-users"></i>
        <span class="count-numbers"></span>
        <span class="count-name">Doctors</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-users"></i>
        <span class="count-numbers"></span>
        <span class="count-name">Appointments</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-users"></i>
        <span class="count-numbers"></span>
        <span class="count-name">Staff</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
