{% extends "base.html" %}

{% block content %}

<div class="container">
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary mb-3 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Register Staff Member
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register Staff Member</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/staff">
                        <div class="mb-3">
                            <label for="" class="form-label">First Name</label>
                            <input type="text" class="form-control" name="first_name" id="" aria-describedby="">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="last_name" id="" aria-describedby="">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Department</label>
                            <input type="text" class="form-control" name="department" id="" aria-describedby="">
                        </div>
                        <div class="dropdown">
                            <label for="">Choose Gender</label>
                            <select name="gender">
                                {% for gender in genders %}
                                <option value="{{gender}}">{{gender}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Address</label>
                            <input type="text" class="form-control" name="address" id="" aria-describedby="">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Telephone</label>
                            <input type="text" class="form-control" name="telephone" id="" aria-describedby="">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Email</label>
                            <input type="text" class="form-control" name="email" id="" aria-describedby="">
                        </div>
                        <div class="dropdown">
                            <label for="">Choose Role</label>
                            <select name="role">
                                {% for role in roles %}
                                <option value="{{role.id}}">{{role.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- this is the code for the table -->
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Department</th>
                <th scope="col">Role</th>
                <th scope="col">Telephone</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for staff_member in staff %}
            <tr>
                <td>{{staff_member.first_name}}</td>
                <td>{{staff_member.last_name}}</td>
                <td>{{staff_member.department}}</td>
                <td>{{staff_member.roles.name}}</td>
                <td>{{staff_member.telephone}}</td>
                <td>{{staff_member.email}}</td>
                <td>
                    <a href="" type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{staff_member.id}}">
                        Edit
                    </a>
                    <div class="modal fade" id="exampleModal{{staff_member.id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true" data-target>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Staff Data</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('edit_staff')}}" method="post">
                                        <input type="hidden" name="staff_id" value="{{staff_member.id}}">
                                        <div class="form-group">
                                            <label for="" class="form-label">First Name</label>
                                            <input type="text" class="form-control" name="first_name" id=""
                                                aria-describedby="emailHelp" value="{{staff_member.first_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" name="last_name" id=""
                                                aria-describedby="emailHelp" value="{{staff_member.last_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="form-label">Department</label>
                                            <input type="text" class="form-control" name="department" id=""
                                                aria-describedby="emailHelp" value="{{staff_member.department}}">
                                        </div>
                                        <div class="dropdown">
                                            <label for="">Role</label>
                                            <select name="role">
                                                {% for role in roles %}

                                                {% if staff_member.roles.name == role.name %}

                                                <option selected value="{{role.id}}">{{role.name}}</option>

                                                {% else %}

                                                <option value="{{role.id}}">{{role.name}}</option>

                                                {% endif %}

                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="form-label">Telephone</label>
                                            <input type="text" class="form-control" name="telephone" id=""
                                                aria-describedby="emailHelp" value="{{staff_member.telephone}}">
                                        </div>
                                        <input type="submit" class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}